
@{
    ViewBag.Title = "Pesquisa";
}

<br />
<h2>Pesquisa</h2>

<form method="post">
    Nome: <input type="text" name="tbNome" class="form-control" /><br/>
    <input type="submit" value="Pesquisar" class="btn-default" />
</form>